<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hello World!</title>
</head>
<body>
<form method="post" th:action="@{/eventSave}" th:object="${eventRegister}">
    Name:<br>
    <input type="text" th:field="*{eventName}"><br>
    Passcode:<br>
    <input type="text" th:field="*{eventPasscode}"><br>

    <input type="submit" value="Submit">
</form>
</body>
</html>